body 
{
    --white: #fff;
    --trans-white: #ffffffbd;
    --white-gray: #f2f3f5;
    --white-gray-2: #f7f8f9;
    --white-font: #f2f3f5;
    --matte-gray: #45505b;
    --matte-gray-2: #212529;
    --blue: #0563bb;
    --blue-light: #eef7ff;
    --gray: #ddd;
    --gray-blue: #728394;
}

.dark 
{
    --white: #161616;
    --white-gray: #292d34;
    --white-gray-2: #161718;
    --trans-white: #20242875;
    --blue: #078df7;
    --matte-gray: #e2e4e5;
    --matte-gray-2: #c5c5c5;

}