@import 'color';
@import 'global';

// nav button here

nav 
{
    position: fixed;
    top: 10px;right: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 999;
}

.toggle-area
{
    background-color: var(--gray-blue);
    color: var(--white-font);
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    i 
    {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    }
}

#dark-toggle
{
    display: none;
}

// header button here

header
{
    position: fixed;
    top: 0;left: 0;
    padding: 15px;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

#header-btn-container
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.header-btn
{
    background-color: var(--white-gray);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 50px;
    height: 56px;
    width: 57px;
    overflow: hidden;
    transition: 0.3s;
    color: var(--matte-gray);
    &-icon {font-size: 22px;}
    &-title 
    {
    position: relative;
    top: 1.5px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0;
    }
    &:hover 
    {
    background-color: var(--blue);
    width: 100%;
    color: var(--white-font);
    }
    &:hover &-title 
    {opacity: 1;}
}

// hero container here

#home
{
    background-image: linear-gradient(to right , var(--trans-white),var(--trans-white)),
    url('https://yoamishishir.github.io/me/res/img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    height: 100vh;
    padding-left: 180px;
    position: relative;
    display: flex;
    align-items: center;
    @media(max-width:740px)
    {
        padding-left: 0;
        background-position: center bottom; 
    }
}

#hero
{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: var(--matte-gray);
    &-title
    {
    font-size: calc(48px + 1.5vw);
    font-weight: 700;
    @media(max-width:740px){text-align: center;}
    }
    &-pera
    {
    margin-top: 6px;
    font-size: 26px;
    font-weight: 500;
    padding-left: 10px;
    @media(max-width:740px){text-align: center;}
    }
}

#type,.typed-cursor
{
    color: var(--blue);
}

.typed-cursor
{
    margin-left: 5px;
    font-size: 28px;
}

#hero-link
{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--matte-gray-1);
    font-size: 24.5px;
    height: 25px;
    padding-left: 8px;
    margin-top: 22px;
    a:hover {color: var(--blue);}
    @media(max-width:740px){justify-content: center;}
}

// about section here

#about-container
{
    max-width: 1300px;
    margin: 60px auto 0;
    padding-left: 120px;
}

.section-title
{
    margin-bottom: 5px;
    height: 60px;
    text-align: center;
    color: var(--matte-gray);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
    position: relative;
    letter-spacing: -0.5px;
    &::before
    {
    content: '';
    position: absolute;
    bottom: 0;left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 1px;
    background-color: var(--gray);
    }
    &::after
    {
    content: '';
    position: absolute;
    bottom: -0.5px;left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: var(--blue);
    }
}

#about-wrap
{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-right: 20px;
}

#about-img 
{
    width: 350px;
    text-align: center;
    @media(max-width:1134px){width: 300px;}
    @media(max-width:1085px){width: 250px;}
    img
    {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    }
}

#about-details
{
    flex: 1;
    color: var(--matte-gray-2)
}

.about-pera
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#about-info-wrap
{
    display: flex;
    gap: 20px;
}

.about-info-col
{
    list-style: none;
    margin-top: 16px;
}

.about-info-col-li
{
    font-family: 'Open Sans', sans-serif;
    font-size: 17.4px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 22px;
    i 
    {
    position: absolute;
    top: 50%;left: 0;
    transform: translateY(-47%);
    font-size: 22px;
    color: var(--blue);
    }
    strong {font-weight: 700;}
    span {font-weight: 500;}
}

// photos container here

#photos-container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 30px 60px 120px;
    > h2
    {
    &::before{width: 142px;}   
    }
}

#photo-main-box
{
    width: 100%;
    margin-top: 3em;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.photo-wrap
{
    position: relative;
    padding-bottom: 100%;
    cursor: pointer;
    img 
    {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    }
}


// contact container here

#contact-container
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px 0 120px;
    > h2
    {
    &::before{width: 160px;}   
    }
}

#contact-wrap
{
    display: flex;
    gap: 30px;
    margin-top: 45px;
    height: 300px;
}

#contact-map
{
    display: block;
    flex: 2;
    background-color: #a6cffd;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    iframe 
    {
    position: absolute;
    top: 0;left: 0;
    border: none;
    width: 100%;
    height: 100%;
    }
}

#load-map-msg
{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: 600;
    color: var(--blue);
    cursor: default;
    span 
    {
    margin-left: 2px;
    position: relative;
    top: 3px;
    font-size: 22px;
    }
}

#contact-info-container
{
    flex: 1;
    padding-top: 10px;
}

.contact-info-wrap
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.contact-icon
{
    background-color: var(--blue-light);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    i 
    {
    font-size: 22px;
    color: var(--blue);
    }
}

.contact-info
{
    strong
    {
    color: var(--matte-gray-2);
    font-size: 22px;
    font-weight: 600;
    }
    p
    {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: var(--blue);
    font-weight: 400;
    }
}

// footer content here 

footer 
{
    background-color: var(--white-gray-2);
    margin-top: 3em;
    user-select: none;
}

#footer 
{
    max-width: 1300px;
    margin: 0 auto;
    padding: 2.5em 18px 2em;
    text-align: center;
    h2
    {
    font-weight: 700;
    font-size: 40px;
    color: var(--matte-gray);
    margin-bottom: 15px;
    }
    p
    {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: var(--matte-gray);
    }
    > P:last-child , > p:nth-child(4)
    {
    margin-top: 5px;
    font-style: normal;
    font-size: 14px;
    a {color: var(--blue);
    font-weight: 500;}
    }
}

.social-links
{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--blue);
    position: relative;
    margin: 30px 5px 20px 0;
    i 
    {
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
    }
}

// photos frame container here

#photos-frame-container
{
    transform: scale(0);
    transform-origin: bottom;
    background-color: #000000cc;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

#photos-frame 
{
    max-width: 85%;
    width: 500px;
    height: auto;
    border-radius: 5px;
    &[alt] 
    {
    color: var(--blue);
    font-size: 20px;
    }
}

#photo-frame-close
{
    position: absolute;
    top: 15px;right: 15px;
    border: none;
    outline: none;
    background-color: var(--blue);
    padding: 2px 2px 1px;
    border-radius: 50%;
    cursor: pointer;
    i
    {
    font-size: 30px;
    color: #fff;
    }
&:active {padding: 1px 1px 0.9px;}
}

@media(max-width:950px)
{
    #dark-toggle
    {display: block;}
    header 
    {
    background-color: var(--white-gray-2);
    border-right: 1px solid var(--gray);
    left: -100%;
    }
    .header-btn
    {
    width: 250px;
    &-title {opacity: 1;}
    &:hover {width: 250px;}
    }
    #about-container
    {padding-left: 20px;}
    #photos-container
    {padding: 50px 25px 60px 25px;}
    #contact-container
    {padding-left: 25px;}
}

@media(max-width:899px)
{
    #about-wrap 
    {
    flex-direction: column;
    gap: 28px;
    }
    #about-img
    {
    width: 100%;
    img 
    {max-width: 450px;}
    }
    #about-details
    {padding: 0 20px;}
    #photo-main-box
    {gap: 8px;}
}

@media (max-width:669px)
{
#hero 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
}
#about-img
{
img 
{max-width: 350px;}
}
#about-info-wrap
{
flex-direction: column;
gap: 0px;
:last-child
{margin-top: 0;}
}
#photo-main-box
{
grid-template-columns: repeat(2,1fr);
gap: 6px;
}
#contact-wrap
{
flex-direction: column-reverse;
height: auto;
}
#contact-map
{padding-bottom: 50%;}
}

@media (max-width: 545px)
{
#contact-map
{padding-bottom: 65%;}
}

@media (max-width: 400px)
{
#contact-map
{padding-bottom: 80%;}
}

@media(max-width:500px)
{
    #hero
    {transform: translate(-50%,0%);}
}